<a href="https://colab.research.google.com/github/shineloveyc/Data_Structure_Algorithm/blob/main/basic_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Please enter your name: ')
val = input("Enter your value: ") 
print('Hello ', val)

Please enter your name
Enter your value: shine
Hello  shine

In [3]:
a = input("Enter hours: ")
b = input('Enter Rate: ')
print('Pay ', int(a)*int(b))

Enter hours35
Enter Rate7
Pay  245

In [4]:
width = 17
height = 12.0

In [5]:
height/3

4.0

In [8]:
input_c = input("please enter celsius temperature: ")
print("The Fahrenheit temperature is: ", float(input_c)*9/5+32)

please enter celsius temperature:20
The Fahrenheit temperature is  68.0

In [9]:
0 and True

0

In [10]:
17 and True

True

In [13]:
input_c = input("please enter celsius temperature: ")
try:
  correct_input = float(input_c)
  f_result = correct_input*9/5+32
  print(f_result)
except:
  print('please enter a number: ')

please enter celsius temperature:er
please enter a number

In [16]:
a = input("Enter hours: ")
b = input('Enter Rate: ')

if int(a)>40:
  print('Pay ', int(a)*int(b)*1.5)
else:
  print('Pay ', int(a)*int(b))

Enter hours55
Enter Rate12
Pay  990.0

In [17]:
a = input("Enter hours: ")
b = input('Enter Rate: ')

try:
  if int(a)>40:
    print('Pay ', int(a)*int(b)*1.5)
  else:
    print('Pay ', int(a)*int(b))
except:
  print("please enter a numeric value")

Enter hoursnine
Enter Rate9
please enter a numeric value

In [21]:
input_s = input("please enter a score: ")

try:
  n_input = float(input_s)
  if  n_input>=0.0 and n_input<=1.0:
    if n_input >=0.9:
      print("A")
    elif n_input>=0.8:
      print("B")
    elif n_input>=0.7:
      print("C")
    elif n_input>=0.6:
      print('D')
    else:
      print("F")
  else:
    print('please enter a number within the range: ')
except:
  print("please enter a number")

please enter a score: 0.2
F

In [24]:
import random
for i in range(10):
  x = random.random()
  print(x)

0.875424164907634
0.11799885541099586
0.949770677891289
0.7517576608974009
0.3574554745508569
0.773056502314222
0.844769681639536
0.14366123552751298
0.14786736254254318
0.16047481136504527

In [26]:
random.randint(5,10)

9

In [27]:
t = [1 ,3, 5]
random.choice(t)

3

In [28]:
import math

In [29]:
degrees = 45
radians = degrees/360.0*2*math.pi
math.sin(radians)

0.7071067811865475

In [30]:
#def a void function==>which doesn't return any value
def print_twice(bruce):
  print(bruce)
  print(bruce)

In [31]:
print_twice('shine')

shine
shine

In [32]:
print_twice(math.cos(math.pi))

-1.0
-1.0

In [33]:
michael = 'hello, michael'
print_twice(michael)

hello, michael
hello, michael

In [34]:
#define a fruit function==>return value
def mut_twice(x):
  result = x**2
  return result

In [35]:
mut_twice(2)

4

In [36]:
def fred():
  print('zap')

In [37]:
def jane():
  print("ABC")

In [38]:
jane()
fred()
jane()

ABC
zap
ABC

In [41]:
def computepay(hours,rates):
  hours = input("please enter hours: ")
  rates = input("please enter rates: ")
  return int(hours)*int(rates)

In [42]:
computepay(2,3)

please enter hours: 2
please enter rates: 3

6

In [43]:
def computegrade(score):
  try:
    n_input = float(input_s)
    if  n_input>=0.0 and n_input<=1.0:
      if n_input >=0.9:
        print("A")
      elif n_input>=0.8:
        print("B")
      elif n_input>=0.7:
        print("C")
      elif n_input>=0.6:
        print('D')
      else:
        print("F")
    else:
      print('please enter a number within the range: ')
  except:
    print("please enter a number")

In [44]:
computegrade(0.3)

F